#content__shop {
    border-top: 11.4rem solid var(--bs-orange);
    /* margin-top: 11.4rem; */
}

.shop__intro-container {

    width: 100%;
    overflow: hidden;
}

.shop__intro-list {
    display: flex;
    width: 100%;

}

.shop__intro-item {
    position: relative;
    /* height: 28rem; */
}

.shop__intro-img-contain {
    width: 100vw;
}

.shop__intro-img-contain img {
    width: 100%;
    height: 28rem;
    object-fit: cover;
    filter: brightness(0.7);
}

.shop__intro-item-text {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    text-align: center;
    width: 90%;
}

.shop__intro-item-text h1 {
    font-size: 5rem;
}

.shop__intro-item-text p {
    margin-top: 1.7rem;
    font-size: 1.8rem;
}

/* shop product */
.container__shop_product {
    width: 96%;
    margin: 0 auto;
    /* padding: 2.6rem 0;  */

}

.shop_product-title {
    text-align: center;
    /* margin-bottom: 4rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--color-border-bt);
}

.shop_product-title h1 {
    font-size: var(--font-title-main);
    margin-bottom: 0;
    font-weight: 700;
}

.container__shop_utilities {
    /* margin-bottom: 2.6rem; */
}

.grid-container-shop {
    padding: 4rem 0;
    margin: 0 auto;
}

.shop__ultities-sort {
    /* width: 100%; */
}

.shop__ultities-sort-dertail,
.shop__ultiliites-search {
    width: 100%;
    margin-bottom: 1.6rem;


}

.shop__product_form {
    display: flex;
    /* border: 2px solid #676767; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* height: 20px; */
    justify-content: space-between;
}

.shop__product_search-input {
    font-size: 1.6rem;
    border: none;
    padding: 0.4rem 1.6rem;
    width: 80%;
    height: 3.6rem;
    border: 1px solid #676767;

}

.shop__product_search-submit {
    font-size: 1.6rem;
    border: none;
    /* padding: 0.4rem 1.6rem ; */
    border: 1px solid #676767;
    width: 18%;
    background-color: var(--color-ngau-hung);
}

.shop__ultities-sort-dertail {
    margin-bottom: 0;
    width: 200px;
    position: relative;
}

.shop__ultities-sort-select-list {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem 3.5rem 1rem 1.5rem;
    border: 1px solid #676767;
    border-radius: 9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.shop__ultities-sort-dertail p {
    content: '\25BC';
    position: absolute;
    top: 50%;
    font-size: 1.4rem;
    right: 30px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Không cho người dùng click vào mũi tên */
    font-size: 12px;
}

.category__shop {
    /* background-color: #ffffff; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.row__shop {
    margin: 0;
}

.col-cate {
    border-right: 1px solid var(--color-border-bt);
}

.category-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.category-item {
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.category__shop-heading {
    margin-bottom: 0;
}

.category__shop-heading a {
    padding: 1rem 1.6rem;
    display: block;
    font-size: 1.8rem;
    border-bottom: 1px solid #ccc;
    color: #000;
    background-color: var(--color-ngau-hung);


}

.category__shop-heading a:hover {
    text-decoration: none;
}

.category__shop-heading a i {
    margin-right: 0.4rem;
}

.category-item__link {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
    display: block;
    font-weight: 500;
    color: #000;

}

.category-item__link:hover {
    text-decoration: none;
    background-color: #ccc;
    color: var(--bs-orange);
}


/* img for product */
.shop__product__lists {
    margin-bottom: 2rem;
}

.product-item {
    padding: 0 1.2rem 2.4rem;
}

.home-product-item__link {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.home-product-item__link:hover {
    text-decoration: none;
}

.home-product-item__link:hover .shop__product__img img {
    transform: scale(1.1);
}

.shop__product__img {
    overflow: hidden;
    padding: 2rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.shop__product__img img {
    width: 15.4rem;
    object-fit: cover;
    height: 18.4rem;
    transition: transform 0.4s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.shop__product__des-detail {
    background-color: var(--white-color);
    padding: 0.8rem 1.2rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.shop__product-name {
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--black-color);
    font-weight: 600;
    line-height: 2.1rem;
    height: 2.1rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin-bottom: 0.4rem;
}

.shop__product-description {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #6b6b6b;
    height: 1.8rem;
    line-height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin-bottom: 0.4rem;
}

.contain-cat-price {
    align-items: center;
    margin: 0;
    color: #2c2c2c;
    margin-bottom: 0.4rem;

}

.shop__product-category-list,
.shop__product-price {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    margin-bottom: 0;
    padding: 0;

}

.shop__product-price {
    margin-bottom: 0.6rem;
}

.shop__product-category-list {
    text-align: center;
    /* background-color: var(--bs-)orange; */
    color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #d29763;
    color: #000;
    border-radius: 4px;
    /* filter: brightness(0.9); */
    white-space: nowrap;
    justify-content: end;
    width: 100%;
}

.shop__product-category-item {
    animation: marqueue 4s linear infinite;
    margin-bottom: 0;
    padding: 0.4rem 1rem;
    font-size: 1.8rem;
    margin-bottom: 0;
    display: inline-block;
}

.create__blank {
    height: 1.2rem;
    width: 100%;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: none;
}

.pagincontainer {
    /* text-align: center; */
}

.pagination {
    justify-content: center;
}

.page-item {
    font-size: 1.8rem;
}

.page-link {
    padding: 0.8rem 1.6rem;
    color: #000;

}

.page-item:first-child .page-link {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0.8rem 2rem;

}

.page-item:last-child .page-link {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0.8rem 2rem;

}

.active__page {
    background-color: var(--color-ngau-hung);
}

@keyframes marqueue {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-70%);
    }
}

/* product ------------------------------ */
.product__content__detail-main {
    width: 100%;
    background-color: var(--slider-color);
}

.product__content__detail-container {
    padding-top: 13.6rem;
    padding-bottom: 2rem;

}

.product__content_grid {
    padding: 2rem 2rem 4rem;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 2rem;
}

.product__content__detail-info-img {
    padding-right: 25px;
}

.product__detail-img {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.product__content__detail-info-img img {
    width: 100%;
    height: calc(80vh - 116px);
    border-radius: 8px;
    background-position: center;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.product__content__detail-info-img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product__content__detail-sumary {}

/* title name product */
.product__content__detail-title {
    font-weight: 700;
    font-size: 4rem;
    color: var(--black-color);
    filter: brightness(0.9);
    line-height: 1.2;
    margin-bottom: 1rem;
}

.product__content__detail-rating {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
} 
.rating:not(:checked)>input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
} 

.product__content__detail-rating-customer p {
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 4px;
}

.product__content__detail-rating-customer p a {
    color: var(--black-color);
    filter: brightness(0.8);
    text-decoration: none;
}

.product__content__detail-rating-customer p:hover a {
    color: var(--orange-color);
}

.product__content__detail-desc p {
    font-size: 1.6rem;
    color: #4f4f4f;

}

.product__content__detail-price {
    font-size: clamp(2rem, 4rem, 6rem);
    font-weight: 700;
    color: var(--black-color);

}

.product__content__detail-form {
    border-top: 1px #959595 solid;
    padding: 1.5rem;
}

.product__detail-form-desc {
    display: flex;
    flex-direction: column;
}

.product__detail-form-desc>h1 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 3rem;
    color: #404040;
    filter: brightness(0.9);
}

.product__detail-quantity-btn {
    /* font-size: 1.6rem; */
    line-height: 2.5;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

}

.plus-btn-quantity,
.minus-btn-quantity {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bs-orange);  
    border-color:var(--bs-orange) ; 
    border: none;
}

.plus-btn-quantity {
    margin-left: 10px;
}

.minus-btn-quantity {
    margin-right: 10px;
}

#quantity-input {
    font-size: 1.6rem;
    height: 40px;
    width: 36%;
    text-align: center;
    border: none;
    background-color: #cfd3db;
    font-weight: 600;
}

/* .plus-btn-quantity{
    width: 30px;
    height: 30px;

    border-radius: 50%;
 } */
.product__btnbuy-ing-pro {
    width: 100%;
    display: flex;
}

.product__detail-buybtn {
    width: 50%;
    font-size: 1.2rem;
    line-height: 2.5;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 6px 0;
}

 

.product__detail-buybtn:last-child {
    font-size: 1.2rem; 
    background-color: var(--white-color);
    border: 2px solid var(--bs-orange);
    transition: background-color 0.4s ease;
}
.product__detail-buybtn:last-child:hover{
    background-color: var(--bs-orange);
    color: var(--white-color);
} 

.product__detail-buybtn i {
    padding-right: 4px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Hiệu ứng khi hover hoặc focus */
input[type=number]:hover,
input[type=number]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* go to  */

#dateInput {
    width: 50%;
    font-size: 1.6rem;
    margin-bottom: 10px;
    border-color: #e58e09;
    color: #000;
    font-weight: 600;
    border-radius: 4px;
    padding: 0 10px;
}


.fil0 {
    fill: #000;
}


.product__content__extra-info {
    padding: 2.4rem 0;
    border-top: 1px #959595 solid;
}

.product__content__extra-info-list li {
    font-size: 1.6rem;
    color: #9da0a5;
    filter: brightness(0.7);
}

.product__content__extra-brand {
    display: flex;
    padding-top: 2.4rem;
    border-top: 1px #959595 solid;
    align-items: center;
}

.product__content__extra-brand h5 {
    margin-right: 3rem;
    font-weight: 700;
    font-size: 1.7rem;
    color: #000000;
    filter: brightness(0.9);
}
 