<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.swp.koiCareSystem.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/cart.jsp</url-pattern>
        <url-pattern>/checkout.jsp</url-pattern>
        <url-pattern>/cart.jsp</url-pattern>
        <url-pattern>/fish.jsp</url-pattern>
        <url-pattern>/fishGrowth.jsp</url-pattern>
        <url-pattern>/fishInfor.jsp</url-pattern>
        <url-pattern>/pond.jsp</url-pattern>
        <url-pattern>/pondInfor.jsp</url-pattern>
        <url-pattern>/profilePage.jsp</url-pattern>
        <url-pattern>/purchaseHistory.jsp</url-pattern>
        <url-pattern>/manageAccount.jsp</url-pattern>
        <url-pattern>/manageAddNews.jsp</url-pattern>
        <url-pattern>/manageFish.jsp</url-pattern>
        <url-pattern>/manageFishDetail.jsp</url-pattern>
        <url-pattern>/manageFishUser.jsp</url-pattern>
        <url-pattern>/manageNews.jsp</url-pattern>
        <url-pattern>/manageNewsDetailAdmin.jsp</url-pattern>
        <url-pattern>/manageOrder.jsp</url-pattern>
        <url-pattern>/manageOrderDetail.jsp</url-pattern>
        <url-pattern>/manageProduct.jsp</url-pattern>
        <url-pattern>/manageProduct.jsp</url-pattern>
        <url-pattern>/manageProductDetails.jsp</url-pattern>
        <url-pattern>/manageProductUpdate.jsp</url-pattern>
        <url-pattern>/manageProfileAccount.jsp</url-pattern>
        <url-pattern>/manageUpdateAccount.jsp</url-pattern>
        <url-pattern>/statistic.jsp</url-pattern>
        <url-pattern>/saltCalculator.jsp</url-pattern>
        <url-pattern>/foodCalculator.jsp</url-pattern>
        <servlet-name>PasswordProfileController</servlet-name>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-name>ImageUploadSingleController</servlet-name>
        <servlet-name>CreateNewBlogController</servlet-name>
        <servlet-name>DeleteBlogController</servlet-name>
        <!-- START PLACE FISH -->
        <servlet-name>FishController</servlet-name>
        <servlet-name>FishInforController</servlet-name>
        <servlet-name>FishCreateNewController</servlet-name>
        <servlet-name>FishDeleteController</servlet-name>
        <servlet-name>FishInformationUpdateController</servlet-name>
        <servlet-name>FishImageUpdateController</servlet-name>
        <servlet-name>FishGrowthChartController</servlet-name>
        <servlet-name>FishGrowthChartCreateNewController</servlet-name>
        <servlet-name>FishGrowthCharUpdateController</servlet-name>
        <servlet-name>FishGrowthChartDeleteController</servlet-name>
        <servlet-name>FishGrowthChartSearchLengthController</servlet-name>
        <servlet-name>FishGrowthChartSearchWeightController</servlet-name>
        <!-- START PLACE POND -->
        <servlet-name>PondController</servlet-name>
        <servlet-name>PondInforController</servlet-name>
        <servlet-name>AddNewPondController</servlet-name>
        <servlet-name>DeletePondController</servlet-name>
        <servlet-name>UpdatePondInformationController</servlet-name>
        <servlet-name>UpdatePondImageController</servlet-name>
        <!-- START PLACE MANAGER AQUARIUM -->
        <servlet-name>ManageAccountFishController</servlet-name>
        <servlet-name>ManageFishController</servlet-name>
        <servlet-name>ManageFishDetailController</servlet-name>
        <servlet-name>ManagerAquariumDetailsController</servlet-name>
        <servlet-name>ManagerPondController</servlet-name>
        <servlet-name>ManagerPondDetailsController</servlet-name>
        <!-- START PLACE MANAGER PRODUCT -->
        <servlet-name>ManageProductController</servlet-name>
        <servlet-name>ManagerProductInformationController</servlet-name>
        <servlet-name>ManagerProductInformationUpdateController</servlet-name>
        <servlet-name>ManagerCreateNewProductController</servlet-name>
        <servlet-name>ManagerProductDeleteController</servlet-name>
        <servlet-name>ManagerProductUpdateController</servlet-name>
        <servlet-name>ManagerProductImageUpdateController</servlet-name>
        <servlet-name>ManagerSearchProductNameController</servlet-name>
        <!-- START PLACE MANAGER NEW -->
        <servlet-name>AdminCreateNewsController</servlet-name>
        <servlet-name>AdminNewsCateController</servlet-name>
        <servlet-name>AdminManageNewsController</servlet-name>
        <servlet-name>AdminManageNewsDetailController</servlet-name>
        <servlet-name>AdminDeleteNewsByIdController</servlet-name>
        <servlet-name>AdminSearchNewsCateController</servlet-name>
        <servlet-name>AdminSearchNewsTitleController</servlet-name>
        <!-- START PLACE MANAGER ORDER -->
        <servlet-name>ManagerOrderManageController</servlet-name>
        <servlet-name>ManagerOrderDetailsController</servlet-name>
        <servlet-name>ManagerOrderDeleteController</servlet-name>
        <servlet-name>ManagerChangeOrderStatusController</servlet-name>
        <!-- START PLACE WaterParameter -->
        <servlet-name>WaterParametersCreateNewController</servlet-name>
        <servlet-name>WaterParametersManageController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageShopController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManageShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ProductCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PondController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.PondController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishInforController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishInforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PondInforController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.PondInforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountWithGoogleController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.CreateAccountWithGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordProfileController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.PasswordProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadSingleController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ImageUploadSingleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBlogController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManageBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogCateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.BlogCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBlogsByCateIdController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.GetBlogsByCateIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishDeleteController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishCreateNewController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishCreateNewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishImageUpdateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishImageUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishInformationUpdateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishInformationUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPondController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AddNewPondController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePondInformationController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.UpdatePondInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePondImageController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.UpdatePondImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePondController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.DeletePondController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManageProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductInformationController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerProductInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductInformationUpdateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerProductInformationUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductDeleteController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerProductDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductUpdateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerProductUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductImageUpdateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerProductImageUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCreateNewProductController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerCreateNewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSearchProductNameController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerSearchProductNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSearchCategoryController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerSearchCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewBlogController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.CreateNewBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.DeleteBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountFishController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManageAccountFishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFishController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManageFishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerForgetPasswordController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.CustomerForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerValidateOtpController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.CustomerValidateOtpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerNewPassWordController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.CustomerNewPassWordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AddProductToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductCartController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.EditProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishGrowthChartController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishGrowthChartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishGrowthChartCreateNewController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishGrowthChartCreateNewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishGrowthChartSearchLengthController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishGrowthChartSearchLengthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishGrowthChartSearchWeightController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishGrowthChartSearchWeightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishGrowthCharUpdateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishGrowthCharUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FishGrowthChartDeleteController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FishGrowthChartDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageNewsController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminManageNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateNewsController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminCreateNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNewsCateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminNewsCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageNewsDetailController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminManageNewsDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteNewsByIdController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminDeleteNewsByIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchNewsCateController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminSearchNewsCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchNewsTitleController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminSearchNewsTitleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFishDetailController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManageFishDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAquariumDetailsController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerAquariumDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerPondController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerPondController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerPondDetailsController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerPondDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodCalculatorController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FoodCalculatorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodCalculatorDetailController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.FoodCalculatorDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderManageController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerOrderManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderDetailsController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerOrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderDeleteController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerOrderDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerChangeOrderStatusController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerChangeOrderStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderSearchByOrderStatusController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerOrderSearchByOrderStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderSearchController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ManagerOrderSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNewsController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ShowNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewsNewsDetailController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.ViewsNewsDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseHistoryController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.PurchaseHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboarAdminController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.DashboarAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardManagerController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.DashboardManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaltCalculatorController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.SaltCalculatorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaltCalculatorDetailController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.SaltCalculatorDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaterParametersManageController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.WaterParametersManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaterParametersCreateNewController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.WaterParametersCreateNewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountStatusController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminAccountStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateNewAccountController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminCreateNewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteAccountController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminDeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountInformationController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminAccountInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateInformationAccountController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminUpdateInformationAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateImageAccountController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminUpdateImageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateAccountController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminUpdateAccountController</servlet-class>
    </servlet>
    <servlet> 
        <servlet-name>WaterParametersUpdateInfoController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.WaterParametersUpdateInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaterParametersDeleteController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.WaterParametersDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageContactController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminManageContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageContactDetailController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminManageContactDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteAccContactController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminDeleteAccContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewContactController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AddNewContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.StatisticsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsSearchPondByIdController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.StatisticsSearchPondByIdController</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>AdminSearchAccountController</servlet-name>
        <servlet-class>com.swp.koiCareSystem.controller.AdminSearchAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageShopController</servlet-name>
        <url-pattern>/ManageShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCateController</servlet-name>
        <url-pattern>/ProductCateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PondController</servlet-name>
        <url-pattern>/PondController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishController</servlet-name>
        <url-pattern>/FishController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishInforController</servlet-name>
        <url-pattern>/FishInforController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PondInforController</servlet-name>
        <url-pattern>/PondInforController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountWithGoogleController</servlet-name>
        <url-pattern>/CreateAccountWithGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordProfileController</servlet-name>
        <url-pattern>/PasswordProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadSingleController</servlet-name>
        <url-pattern>/ImageUploadSingleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBlogController</servlet-name>
        <url-pattern>/ManageBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogCateController</servlet-name>
        <url-pattern>/BlogCateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBlogsByCateIdController</servlet-name>
        <url-pattern>/GetBlogsByCateIdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishDeleteController</servlet-name>
        <url-pattern>/FishDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishCreateNewController</servlet-name>
        <url-pattern>/FishCreateNewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishImageUpdateController</servlet-name>
        <url-pattern>/FishImageUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishInformationUpdateController</servlet-name>
        <url-pattern>/FishInformationUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPondController</servlet-name>
        <url-pattern>/AddNewPondController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePondInformationController</servlet-name>
        <url-pattern>/UpdatePondInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePondImageController</servlet-name>
        <url-pattern>/UpdatePondImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePondController</servlet-name>
        <url-pattern>/DeletePondController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductController</servlet-name>
        <url-pattern>/ManageProductController</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404page.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ManagerProductInformationController</servlet-name>
        <url-pattern>/ManagerProductInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductInformationUpdateController</servlet-name>
        <url-pattern>/ManagerProductInformationUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductDeleteController</servlet-name>
        <url-pattern>/ManagerProductDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductUpdateController</servlet-name>
        <url-pattern>/ManagerProductUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductImageUpdateController</servlet-name>
        <url-pattern>/ManagerProductImageUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCreateNewProductController</servlet-name>
        <url-pattern>/ManagerCreateNewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSearchProductNameController</servlet-name>
        <url-pattern>/ManagerSearchProductNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSearchCategoryController</servlet-name>
        <url-pattern>/ManagerSearchCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewBlogController</servlet-name>
        <url-pattern>/CreateNewBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogController</servlet-name>
        <url-pattern>/DeleteBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountFishController</servlet-name>
        <url-pattern>/ManageAccountFishController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFishController</servlet-name>
        <url-pattern>/ManageFishController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerForgetPasswordController</servlet-name>
        <url-pattern>/CustomerForgetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerValidateOtpController</servlet-name>
        <url-pattern>/CustomerValidateOtpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerNewPassWordController</servlet-name>
        <url-pattern>/CustomerNewPassWordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartController</servlet-name>
        <url-pattern>/AddProductToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductCartController</servlet-name>
        <url-pattern>/EditProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishGrowthChartController</servlet-name>
        <url-pattern>/FishGrowthChartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishGrowthChartCreateNewController</servlet-name>
        <url-pattern>/FishGrowthChartCreateNewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishGrowthChartSearchLengthController</servlet-name>
        <url-pattern>/FishGrowthChartSearchLengthController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishGrowthChartSearchWeightController</servlet-name>
        <url-pattern>/FishGrowthChartSearchWeightController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishGrowthCharUpdateController</servlet-name>
        <url-pattern>/FishGrowthCharUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FishGrowthChartDeleteController</servlet-name>
        <url-pattern>/FishGrowthChartDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageNewsController</servlet-name>
        <url-pattern>/AdminManageNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateNewsController</servlet-name>
        <url-pattern>/AdminCreateNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewsCateController</servlet-name>
        <url-pattern>/AdminNewsCateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageNewsDetailController</servlet-name>
        <url-pattern>/AdminManageNewsDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteNewsByIdController</servlet-name>
        <url-pattern>/AdminDeleteNewsByIdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchNewsCateController</servlet-name>
        <url-pattern>/AdminSearchNewsCateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchNewsTitleController</servlet-name>
        <url-pattern>/AdminSearchNewsTitleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFishDetailController</servlet-name>
        <url-pattern>/ManageFishDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAquariumDetailsController</servlet-name>
        <url-pattern>/ManagerAquariumDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerPondController</servlet-name>
        <url-pattern>/ManagerPondController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerPondDetailsController</servlet-name>
        <url-pattern>/ManagerPondDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodCalculatorController</servlet-name>
        <url-pattern>/FoodCalculatorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodCalculatorDetailController</servlet-name>
        <url-pattern>/FoodCalculatorDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderManageController</servlet-name>
        <url-pattern>/ManagerOrderManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderDetailsController</servlet-name>
        <url-pattern>/ManagerOrderDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderDeleteController</servlet-name>
        <url-pattern>/ManagerOrderDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerChangeOrderStatusController</servlet-name>
        <url-pattern>/ManagerChangeOrderStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderSearchByOrderStatusController</servlet-name>
        <url-pattern>/ManagerOrderSearchByOrderStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderSearchController</servlet-name>
        <url-pattern>/ManagerOrderSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseHistoryController</servlet-name>
        <url-pattern>/PurchaseHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboarAdminController</servlet-name>
        <url-pattern>/DashboarAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardManagerController</servlet-name>
        <url-pattern>/DashboardManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaltCalculatorController</servlet-name>
        <url-pattern>/SaltCalculatorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaltCalculatorDetailController</servlet-name>
        <url-pattern>/SaltCalculatorDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNewsController</servlet-name>
        <url-pattern>/ShowNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewsNewsDetailController</servlet-name>
        <url-pattern>/ViewsNewsDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaterParametersManageController</servlet-name>
        <url-pattern>/WaterParametersManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaterParametersCreateNewController</servlet-name>
        <url-pattern>/WaterParametersCreateNewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountController</servlet-name>
        <url-pattern>/AdminAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountStatusController</servlet-name>
        <url-pattern>/AdminAccountStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateNewAccountController</servlet-name>
        <url-pattern>/AdminCreateNewAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteAccountController</servlet-name>
        <url-pattern>/AdminDeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountInformationController</servlet-name>
        <url-pattern>/AdminAccountInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateInformationAccountController</servlet-name>
        <url-pattern>/AdminUpdateInformationAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateImageAccountController</servlet-name>
        <url-pattern>/AdminUpdateImageAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateAccountController</servlet-name>
        <url-pattern>/AdminUpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaterParametersUpdateInfoController</servlet-name>
        <url-pattern>/WaterParametersUpdateInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaterParametersDeleteController</servlet-name>
        <url-pattern>/WaterParametersDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>        
        <servlet-name>AdminManageContactController</servlet-name>
        <url-pattern>/AdminManageContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageContactDetailController</servlet-name>
        <url-pattern>/AdminManageContactDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteAccContactController</servlet-name>
        <url-pattern>/AdminDeleteAccContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewContactController</servlet-name>
        <url-pattern>/AddNewContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>    
        <servlet-name>StatisticsController</servlet-name>
        <url-pattern>/StatisticsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsSearchPondByIdController</servlet-name>
        <url-pattern>/StatisticsSearchPondByIdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchAccountController</servlet-name>
        <url-pattern>/AdminSearchAccountController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
